.navbar {
    background-color: #f6efef; 
    overflow: hidden;
}

.navbar a {
    float: left; 
    display: block; 
    color: rgb(240, 6, 6); 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 17px; 
}

.navbar a:hover {
    background-color: rgb(240, 6, 6);
    color: black; 
}

.banner {
    background-image: url(/img/tecnologia-wallpaper-preview.jpg);
    color: rgb(240, 6, 6); 
    text-align: center; 
    padding: 40px 0; 
    margin-bottom: 30px; 
}

.banner h1 {
    font-size: 2.5em; 
    margin: 0; 
    font-weight: bold;
    text-shadow: 2px 2px 4px; 
}

.Uno {
    background-color: whitesmoke;
    padding: 20px; 
    border-left: 5px solid rgb(240, 6, 6); 
    margin: 20px 0; 
}

.Uno  div {
    margin-bottom: 15px; 
}

.Uno h1 {
    font-family: cursive;
    color: rgb(240, 6, 6);
    text-shadow: 2px 2px 4px; 
    font-size: 24px; 
    text-align: center; 
    margin: 0; 
    padding-bottom: 10px; 
    border-bottom: 2px solid rgb(240, 6, 6);
}



.celulares {
    background-color: #b50404; 
    border: 2px solid #090909; 
    padding: 20px; 
    margin: 20px 0;
    border-radius: 8px; 
}

.celulares h2 {
    text-align: center;
    color: #b6b008; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px;
    font-size: 2.5rem;
} 

.celulares li {
    background-color: #b6b008; 
    padding: 8px; 
    margin-bottom: 5px; 
    border-radius: 4px; 
}

.celulares li:hover {
    background-color: #dcdcdc; 
}


.Net {
    background-color: #b50404; 
    border: 2px solid #090909; 
    padding: 20px; 
    margin: 20px 0;
    border-radius: 8px; 
    
}

.Net h2 {
    color: #b6b008; 
    margin-bottom: 10px; 
    text-shadow: 2px 2px 4px;
    text-align: center;
    font-size: 2.5rem;
    
}
.Net ul {
    list-style: circle; 
    padding: 1; 
    margin: 0; 
}
.Net li {
    background-color: #b6b008; 
    padding: 8px; 
    margin-bottom: 5px; 
    border-radius: 4px; 
}

.Net li:hover {
    background-color: #ced4da; 
    cursor: pointer; 
}






/* .div Venta {
    text-align: center;
    border: 1px solid #E1F4F1;
    padding: 20px;
    margin: 5px;

    
} */


.footer {
    background-color: #63C4B4;
    color: black;
    text-align: left;
    padding: 20px ;
    font-family: fantasy;
    border-bottom: #111010;
    & img {
    height: 20px;
    }
}






